<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.admin.woailiushuang">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:name=".progress.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="X_BIGSIZE"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/netconfig"
        android:theme="@style/AppTheme">
        <activity android:name=".RecycleViewDemoActivity.TestCommonRecycleViewActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".progress.SecondActivity" />
        <activity android:name=".progress.RecycleVDemoActivity" />
        <activity android:name=".test.JavaActivity" />
        <activity android:name=".progress.VidewDemoActivity" />
        <activity android:name=".progress.VideoActivity" />
        <activity android:name=".http.TestMainHttpActivity" />
        <activity android:name=".coroutine.test" />
        <activity android:name=".image.TestActivity" />
        <activity android:name=".progress.MainActivity" />
    </application>

</manifest>